= simple_form_for [@category, @theme, @comment], html: { class: 'comment-form text-center' } do |t|
  = t.input :content, as: :text, input_html: { rows: 2 }, autofocus: true, label: false
  = t.submit t('buttons.update'), class: 'btn btn-success'
  = link_to t('buttons.cancel'), :back, class: 'btn btn-default'
