// -- Variables --

// Colors

$white: #fff;
$black: #333;
$light-grey: #e2dee2;
$light-blue: #66afe9;
$green: #5cb85c;
$red: #ff4123;
$home-page: #f2cea8;

// Fonts

$open-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$lora: 'Lora', 'Times New Roman', serif;
