/* -- Categories -- */

.thumbnail-wrapper {
  @media screen and (max-width: 450px) {
    width: 100%;
  }

  &:hover {
    text-decoration: none;
  }
}

.thumbnail {
  position: relative;

  &:hover {
    border: 1px solid $light-blue;

    .links {
      display: block;
    }
  }

  &img {
    width: 100%;
  }
}
