/* -- Comments -- */

.comments-wrapper {
  margin: 3em 0;

  ul {
    margin: 0;
    padding-left: 1em;
  }

  li {
    list-style: none;

    &.child-comment {
      border-left: 1px solid #ccc;
      padding-left: 1em;
    }
  }
}

.comment-body {
  position: relative;
  margin-bottom: 1em;

  .header span {
    margin-right: 10px;
  }

  img {
    margin-right: 5px;
  }

  .content {
    padding-top: .5em;
  }
}
