/* Comments */

.comments-wrapper {
  margin: 3em 0;

  ul {
    margin: 0;
    padding-left: 1em;
  }

  li {
    list-style: none;

    &.child-comment {
      border-left: 1px solid #ccc;
      padding-left: 1em;
    }
  }
}


.comment-body {
  position: relative;
  margin-bottom: 1em;

  .content {
    padding-top: .5em;
  }

  .links {
    @media screen and (min-width: 450px) {
      position: absolute;
      top: 0;
      right: 0;
    }

    a {
      padding: 0 .2em;
    }
  }
}
