/* -- Themes -- */

.search-form {
  margin-top: 1em;

  a {
    padding: 0 10px;
  }
}

.clear {
  font-size: 15px;
  vertical-align: middle;
}

.problem-wrapper {

  .header {
    position: relative;

    &:hover {
      .links {
        display: block;
      }
    }
  }

  .content {
    font-family: $lora;
    font-size: 20px;
    margin-bottom: 2em;
  }

  .location {
    display: block;
    margin-top: 1em;

    i {
      margin-right: .5em;
    }
  }
}

.author {
  margin-top: 1em;

  .avatar {
    margin-right: 5px;
  }
}

/* Votes */

.well h3 {
  margin-top: 0;
}

.thumbs-up,
.thumbs-down {
  font-size: 1.5em;
  margin: .7em .7em 0;
  display: inline-block;
}

.revote {
  display: block;
  margin-top: 1em;
}
