/* -- Themes -- */

.problem-wrapper {
  .content {
    font-family: $lora;
    font-size: 20px;
    margin-bottom: 2em;
  }
}

.author {
  margin-top: 1em;

  .avatar {
    margin-right: 5px;
  }
}

/* Votes */

.thumbs-up,
.thumbs-down {
  font-size: 1.5em;
  margin: .7em .7em 0;
  display: inline-block;
}

.revote {
  display: block;
  margin-top: 1em;
}
